@import url('https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@500&family=Voltaire&display=swap');
@import url("https://use.typekit.net/zzi0aqq.css");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: white;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: fixed;
  top:0;  
  min-width: 100%;
  box-shadow: 2px 2px 2px 2px rgba(117, 117, 117, 0.2);
}

.nav-item {
  font-family: "mongoose", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 2.5em;
  text-transform: uppercase;
  color:#A338F4;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 1rem;
  margin: 1%;
}

.nav-item a:hover {
  color: #BA75FF; 
}

.main {
  padding-top: 125px;
  padding-bottom: 50px;
  padding-right: 5%;
  padding-left: 5%;
  justify-content: center;
  background-color: #F5F5F5;
}

.home {
  padding-top: 2%;
  padding-bottom: 50px;
  margin-right: 5%;
  margin-left: 5%;
  justify-content: center;
}

@media (max-width: 768px) {
  .main {
    padding-right: 7.5%;
    padding-left: 7.5%;
    justify-content: center;
    align-content: center;
    font-size: 16px;
    line-height: auto;
  }
  .home{
    padding-right: 5%;
    padding-left: 5%;
    justify-content: center;
    align-content: center;
    font-size: 16px;
    line-height: auto;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

h1{
  font-family: "mongoose", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 3em;
  text-transform: uppercase;
}

h2{
  font-family: "filmotype-ace", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
  line-height: normal;
}

h3{
  font-family: "filmotype-ace", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 2em;
  line-height: normal;
}

h4{
  font-family: "filmotype-ace", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
  line-height: normal;
}

.footer{
  justify-content: space-around;
  background-color: #242424;
  padding: 2%;
  bottom: 0;
}

.footer-item {
  font-family: 'Akshar', sans-serif; 
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  color: white;
}

.footer-item a:hover {
  color: #BA75FF; 
}

label {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  margin-top: 2.5%;
  color:#424242;
}

input {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  min-width: 325px;
  max-width: stretch;
  padding:10px;
  border-radius: 5px;
  color:#424242;
  background-color: white;
}

button {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  min-width: 325px;
  max-width: stretch;
  padding:10px;
  margin-top: 1%;
  margin-bottom:1%;
  border-radius: 5px;
}

.main-button {
  background-color: #BA75FF;
  color: white;
  cursor: pointer;
}

.alt-button {
  background-color: none;
  color: #BA75FF;
  border: #BA75FF 2px solid;
}

.copyright{
  background-color: #212121;
  padding: 2%;
  min-width: 100%;
  bottom: 0;
  font-family: 'Inter',sans-serif;
  font-size: 10px;
  text-align: center;
  color: white;
}

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #1b1a1a);
  margin-top: 2%;
  margin-bottom:1%;
}

.menu-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.menu-item{
  padding:3%;
  align-content: center;
  text-align:justify;
}

.menu-border{
  border: 1.5px solid #060606;
  padding: 2.5%;
}

.home-container{
  background-color: #060606;
  padding-top:5%;
  margin-bottom: 5%;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  .logo-light {
    display: block;
  }

  .logo-dark {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  .main {
    background-color: #160D1B;
  }
  
  .logo-dark {
    display: block;
  }

  .logo-light {
    display: none;
  }

  .navbar {
    background-color: #0C0015;
    box-shadow: 2px 2px 2px 2px rgba(9, 9, 9, 0.2);
  }

  .nav-item {
    color: white;
  }

  .nav-item a:hover {
    color: #BA75FF; 
  }

  .footer {
    background-color: #0C0015;
  }

  .copyright {
    background-color: #000000;
  }

  h1, h2, h3, h4, p {
    color: white;
  }

  label {
    color:white;
  }
  input {
    color:white;
    background-color: #272529;
  }

  .main-button {
    background-color: #BA75FF;
    color: white;
    cursor: pointer;
  }
  
  .alt-button {
    background-color: #272529;
    color: white;
    border: none;
  }
}